.popup-name-edit__container {
    max-width: 430px;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    align-self: center;
    justify-self: center;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    margin-top: 8px;
}

@media all and (max-width: 770px) {
    .popup-name-edit__container {
        margin-top: 16px;
    }
}