.popup-name-edit {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 510px;
    width: 100%;
}

@media all and (max-width: 770px) {
    .popup-name-edit {
        max-width: 282px;
    }
}