.popup-name-edit {
/*    max-width: 470px;
    width: 100%;
    height: 370px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 155px auto 0 auto;
    max-width: 510px;
    width: 100%;
}

@media all and (max-width: 770px) {
    .popup-name-edit {
        max-width: 282px;
        margin-top: 87px;
    }
}