.profile__add-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    width: 150px;
    height: 50px;
    background-color: #000000;
    border: 2px #FFFFFF solid;
    display: inline-block;
}

@media all and (max-width: 770px) {
    .profile__add-button {
        width: 282px;
        height: 50px;
        background-size: 16px 16px;
    }    
}