.profile__status {
    margin: 16px 0 0 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

@media all and (max-width: 920px) {
    .profile__status { 
        max-width: 330px;
    }
}

@media all and (max-width: 770px) {
    .profile__status {
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
        margin-bottom: 36px;
    } 
}

@media all and (max-width: 400px) {
    .profile__status { 
        max-width: 240px;
    }
}