.footer__copyright {
    color: #545454;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media all and (max-width: 770px) {
    .footer__copyright {
        margin-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}