.element__image {
    display: inline-block;
    /*иначе всё ломалось*/
    color: #ffffff;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 282px;
    height: 282px;
    background-color: #000;
    object-fit: cover;
}

/*видимо, я случайно переписала этот блок где-то и когда-то давно и очень неровно и он потерялся в бесконечных коммитах и пулах.
спасибо, что заметили!*/