.profile__profile-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    width: inherit;
}

@media all and (max-width: 770px) {
    .profile__profile-info {
        flex-direction: column;
        justify-content: center;
    }    
}