.profile__name {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 18px -8px 0;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (max-width: 920px) {
    .profile__name { 
        max-width: 330px;
    }
}

@media all and (max-width: 770px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        margin: 0 10px -6px 28px;

    }    
}

@media all and (max-width: 400px) {
    .profile__name { 
        max-width: 240px;
    }
}