.profile__name-area {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 30px;
}

@media all and (max-width: 770px) {
    .profile__name-area {
        align-items: center;
        margin-left: 0;
    }
}