.element__like-button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-image: url(../../../images/heart-shallow.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    border: none;
    width: 22px;
    height: 19px;
    margin: 0 20px 0 auto;
    display: inline-block;
    background-color: #FFFFFF;
    transition: all .2s ease-in-out;
    fill: none;
}

.element__like-button:hover {
    opacity: 0.5;
    /*т.к. элементы блоков перезаписывают универсальные классы (в духе button), я просто добавила отдельное опасити тут*/
}

.element__like-button:active {
    opacity: 1;
    background-image: url(../../../images/heart-dark.svg);
}